.hero
{
    &__image_container
    {
        width: 100%;
        @include center;
    }
    &__image
    {
        content: url("./images/image-intro-desktop.jpg");
        object-fit: cover;
        width: 100%;
        max-height: 30rem;
    }

    &__content
    {
        width: 100%;
        background-color: $darkViolet;
        padding: 7.5rem 2rem;
        display: grid;
        gap: 1.5rem;
        text-align: center;
        position: relative;

        &::after
        {
            content: url("./images/bg-pattern-intro-left-mobile.svg");
            position: absolute;
            top: 0;
            left: 0;
        }

        &::before
        {
            content: url("./images/bg-pattern-intro-right-mobile.svg");
            position: absolute;
            bottom: -40%;
            right: 0;
        }
    }

    &__heading
    {
        font-family: $headingFont;
        color: $veryLightGray;
        font-size: 2.8rem;
    }

    &__paragraph
    {
        font-family: $bodyFont;
        color: $veryLightGray;
        font-size: 1.2rem;
        line-height: 1.5;
    }

    &__button
    {
        width: max-content;
        margin: 0 auto;
        padding: .75rem 1rem;
        outline: none;
        border: 1px solid $veryLightGray;
        color: $veryLightGray;
        background: transparent;
        font-family: $bodyFont;
        font-size: 1.2rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover
        {
            background: $veryLightGray;
            color: $darkGrayishViolet;
        }
    }

    &__heading, &__paragraph
    {
        max-width: $mobileWidth;
        margin: 0 auto;
    }
}

@media screen and (min-width: 800px)
{
    .hero__wrapper
    {
        background-color: $darkViolet;
        width: 100%;
        position: relative;

        &::before
        {
            content: url("./images/bg-pattern-mobile-nav.svg");
            position: absolute;
            bottom: 0;
            right: 0;
            opacity: 0.3;
        }

        &::after
        {
            content: url("./images/bg-pattern-intro-left-desktop.svg");
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.3;
        }
    }
    .hero
    {
        display: flex;
        flex-direction: row-reverse;
        padding: 2rem;
        max-width: $desktopWidth;
        margin: 0 auto;
        gap: 0;
        max-height: 28.5rem;

        &__image_container
        {
            flex: 1;
            align-items: flex-start;
            justify-content: flex-end;
            position: relative;
            z-index: 2;
        }

        &__image
        {
            object-fit: contain;
            width: auto;
        }

        &__content
        {
            flex: 1;
            background-color: transparent;
            text-align: left;
            padding: 2rem 0;
            max-height: 22.5rem;
            margin: auto 0;

            &::after, &::before
            {
                display: none;
            }

            &::after
            {
                content: '';
                display: flex;
                height: 2px;
                width: 10rem;
                background-color: $veryLightGray;
            }
        }

        &__heading
        {
            font-size: 3.5rem;
            line-height: 1.1;
        }

        &__button
        {
            margin: 0 auto 0 0;
        }
    }
}