$darkVoilet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);

$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);

$headingsFont: "DM Serif Display", Arial;
$bodyFont: "Karla", sans-serif;

$desktopWidth: 68.75rem;
$mobileWidth: 28.75rem;